* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

/* utility */

.flex {
    display: flex;
}

/* header */

.site_header {
    background-color: #dbdbdb;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    justify-content: center;
    position: relative;
    border-top: 2px solid #858e93;
    flex-wrap: wrap;
}

.button_header {
    position: absolute;
    left: 0;
    top: 0;
    justify-content: flex-start;
    padding: 0.6rem 1rem;
}

.btn_round {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 0.7rem;
}

.red {
    background-color: #ff5f58;
}

.yellow {
    background-color: #ffbd2e;
}

.green {
    background-color: #28c941;
}

.zoom_id {
    justify-content: center;
    align-items: center;
    padding: 0.1rem 0;
    color: #313131;
}

.zoom_id h3 {
    font-weight: 400;
}

.id_name {
    background-color: white;
    margin-left: 0.5rem;
}

.hidd_name {
    width: 170px;
    height: 20px;
    background-color: gray;
    margin: 0.3rem;
}

/* main */

.site_main {
    background-color: black;
    position: relative;
}

.container {
    padding: 4rem 8rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    position: relative;
    margin-bottom: 0.5rem;
    padding: 0.2rem;
}

.speak {
    background-color: rgba(255, 255, 0, 0.733);
}

.card_video {
    width: 400px;
    position: relative;
}

.card_video img {
    width: 100%;
}

.user_name {
    color: white;
    position: relative;
    padding: 0.2rem;
    background-color: rgba(0, 0, 0, 0.63);
    position: absolute;
    bottom: 4px;
    left: 3px;
}

.fa-microphone-alt {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.fa-slash {
    font-size: 1rem;
    transform: rotate( 88deg);
    color: red;
    position: absolute;
    left: 0;
    bottom: 5px;
}

.view {
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.view i {
    font-size: 1.2rem;
}

.speaker {
    padding: 0.3rem;
    background-color: #252525;
    border-radius: 4px;
}

.speaker p {
    margin-left: 0.5rem;
}

.expand {
    padding: 0.3rem;
    background-color: #252525;
    border-radius: 4px;
    margin-left: 0.5rem;
}

.left {
    position: absolute;
    left: 3rem;
    top: 50%;
}

.right {
    position: absolute;
    top: 50%;
    right: 3rem;
}

.left i {
    color: #7f7f7f;
    font-size: 3rem;
}

.right i {
    color: #2ebaff;
    font-size: 3rem;
}

.left p, .right p {
    color: white;
}

/* footer */

.site_footer {
    background-color: #222326;
    color: #dcdcdc;
    justify-content: space-between;
}

.site_footer .controlli div, .site_footer .menu div {
    text-align: center;
    padding: 0.2rem 0.5rem;
}

.controlli, .menu {
    align-items: center;
}

.site_footer i {
    font-size: 2rem;
    margin-bottom: 0.2rem;
}

.site_footer .up i {
    font-size: 1rem;
}

.site_footer .up {
    align-self: center;
}

.site_footer .menu div {
    text-align: center;
    padding: 0.2rem 1rem;
}

.menu #share_up {
    padding-left: 0;
}

.menu .share i {
    color: #4bc800;
}

.out {
    background-color: #4a4b4c;
    color: #fe564c;
    align-self: center;
    padding: 1.6rem 0.8rem;
}